/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the images inside the tab */
.tab img {
  width: 250px;
  height: auto;
  cursor: pointer;
  margin: 10px;
  transition: 0.3s;
}

/* Change opacity of images on hover */
.tab img:hover {
  opacity: 0.7;
}

/* Create an active/current tablink class */
.tab img.active {
  border: 2px solid #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}